<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </layout>
  </appender>

  <logger name="org.springframework">
    <level value="info"/>
  </logger>
  <logger name="com.opensymphony.oscache">
    <level value="info"/>
  </logger>
  <logger name="org.apache">
    <level value="info"/>
  </logger>
  <logger name="com.opensymphony">
    <level value="info"/>
  </logger>
  <logger name="net.sf.navigator">
    <level value="info"/>
  </logger>
  <!-- 在所有 SQL DML 语句被执行时为它们记录日志 -->
  <logger name="org.hibernate.SQL">
    <level value="info"/>
  </logger>
  <!-- 在所有 SQL DDL 语句执行时为它们记录日志 -->
  <logger name="org.hibernate.tool.hbm2ddl">
    <level value="info"/>
  </logger>
  <!-- 在 session 清洗（flush）时，为所有与其关联的实体（最多 20个）的状态记录日志 -->
  <logger name="org.hibernate.pretty">
    <level value="info"/>
  </logger>
  <!-- 为所有二级缓存的活动记录日志-->
  <logger name="org.hibernate.cache">
    <level value="info"/>
  </logger>
  <!-- 为事务相关的活动记录日志-->
  <logger name="org.hibernate.transaction">
    <level value="info"/>
  </logger>
  <!-- 为所有 JDBC 资源的获取记录日志-->
  <logger name="org.hibernate.jdbc">
    <level value="info"/>
  </logger>
  <logger name="freemarker">
    <level value="info"/>
  </logger>
  <logger name="freemarker.cache">
    <level value="info"/>
  </logger>
  <logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
    <level value="error"/>
  </logger>
  <logger name="org.springside.modules">
    <level value="info"/>
  </logger>
  <logger name="javacommon">
    <level value="info"/>
  </logger>
  <root>
    <level value="info"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
