body {
	background:#150b00 url("images/home_bg1.jpg") no-repeat center top;
	font: 12px/24px Microsoft YaHei,Tahoma,Helvetica,Arial,'SimSun',sans-serif;
}
a {
	text-decoration: none;
	-webkit-user-drag: none;
}
ul {
	list-style: none;
}
li, em {
	list-style: none;
	font-style: normal;
}
/**
 * =======Header Start==============================================================================================
 */
.header {
	background: url(images/header_bg.gif) no-repeat;
	height: 88px;
}
.w_1024 {
	width: 1024px;
	margin: 0 auto;
}

.header .l {
	padding: 11px 0 0 18px;
	background: url(images/header_septal-line.png) no-repeat right top;
	width: 260px;
	position: relative;
}

.header .z {
	padding: 17px 0 0 10px;
	background: url(images/header_septal-line.png) no-repeat right top;
	width: 290px;
}

.header .r {
	padding: 8px 0 0 18px;
}
.fl {
	float: left;
}

.header .z .text {
	float: left;
	margin: 0 0 0 5px;
	color: #fff;
	font-family: Arial;
	line-height: 24px;
}
.header .z .text .t {
	margin: 2px 0 0 0;
	overflow: hidden;
	zoom: 1;
}

.header .z .text .t .name {
	float: left;
	width: 66px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.header .z .text .message {
	background: url(images/header_message_icon.png) no-repeat 0 6px;
	padding: 0 0 0 15px;
	margin-left: 10px;
}
.header .z .text a {
	color: #fff;
}
.header .z .text .t span.nav a {
	margin: 0 15px;
}
.header .z .text .t .nav {
	float: left;
}

/**
 * ================================
 */
.r_nav li em {
	display: block;
	width: 52px;
	margin-top: 8px;
	line-height: 14px;
	text-align: center;
	color: #ddd;
	font-family: '宋体';
}

.r_nav li span {
	height: 38px;
	display: block;
	background: url(images/header_right_icon.png) no-repeat;
	margin: 0 auto;
}
.r_nav li {
	width: 52px;
	float: left;
	margin-right: 8px;
}
.r_nav li span.icon_bg1 {
	background-position: 0 0;
	width: 40px;
}
.r_nav li span.icon_bg2 {
	background-position: -67px 0;
	width: 26px;
}

.r_nav li span.icon_bg3 {
	background-position: -128px 0;
	width: 24px;
}

.r_nav li span.icon_bg4 {
	background-position: -179px 0;
	width: 42px;
}
.r_nav li span.icon_bg5 {
	background-position: -247px 0;
	width: 28px;
}

.r_nav li span.icon_bg6 {
	background-position: -303px 0;
	width: 34px;
}

.r_nav li span.icon_bg7 {
	background-position: -369px 0;
	width: 22px;
}




.header .logo a {
	display: block;
	width: 241px;
	height: 64px;
	background: url(images/logo.png) no-repeat;
}
/**
 * =======Header End==============================================================================================
 */
h1, h2, h3, h4, h5, h6, ul, dl, ol, p, input {
	margin: 0;
	padding: 0;
}

/**
 * =======江苏快三帮助div弹出层==============================================================================================
 */
.descHelp {
	border: 1px solid #ed992b;
	border-collapse: separate;
	border-spacing: 0;
	background: #fff;
	font-weight: 400;
	color: #333;
}

.descHelp th {
	padding: 1px 10px;
	background: #ffefca;
	border: 1px solid;
	border-color: #ffefca #ffefca #f7d69d;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
	text-align: left;
	color: #d10000;
}

.descHelp td {
	padding: 1px 10px;
	border: 1px solid;
	border-color: #fff #fff #f7d69d #f7d69d;
	white-space: nowrap;
}

.descHelp .orange {
	color: #d10000;
}

/**页面获取彩期等待gif样式**/
.lottery .left_box .num_open ul li span.waiting { background:url(images/kj_ball.gif) no-repeat; display:block; width:69px; height:69px; line-height:69px; }