body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form{margin:0; padding:0;}
*{-webkit-user-drag: none;}
.bet_bg {
	background: url(images/bet_content-bg.png) repeat;
}

.bet_content {
	background: url(images/bet_content_top-bg.png) no-repeat;
	padding: 10px 10px 0 0;
}

.sidebar {
	width: 170px;
	float: left;
}
.sidebar .nav dl dd a {
	float: left;
	line-height: 49px;
	height: 49px;
	width: 90px;
	padding-left: 10px;
	color: #9e9786;
	font-size: 14px;
	font-weight: 700;
	position: relative;
}
.sidebar .return_home {
	margin-bottom: 20px;
}
.sidebar .return_home .btn {
	background: url(images/bet_return-home_btn.png) no-repeat;
	width: 150px;
	height: 31px;
	margin: 8px auto;
	display: block;
}

.sidebar .nav {
	padding: 0 0 0 20px;
}
.sidebar .nav dl {
	margin-bottom: 15px;
}
/**
 * =====================
 */
.sidebar .nav dl dt.gaoping {
	background-position: 0 0;
}
.sidebar .nav dl dt.letou {
	background-position: 0 -24px;
}
.sidebar .nav dl dt.diping {
background-position: 0 -48px;
}
/**
 * =====================
 */
.sidebar .nav dl dt {
	background: url(images/sidebar_dt_bg.png) no-repeat;
	width: 153px;
	height: 18px;
	display: block;
	cursor: pointer;
}

.sidebar .nav .on {
	color: #ff9a2c;
}
.sidebar .nav dl dd {
	overflow: hidden;
	zoom: 1;
	margin-top: 6px;
	display: none;
}
.sidebar .nav dl dd.on {
	display: block;
}

.sidebar .nav dl dd span {
	
	float: left;
	background: url(images/sidebar_nav_icon.png) no-repeat;
	width: 50px;
	height: 49px;
	display: block;
}

.ssc{
	background-position: 0 0;
}
.sidebar .nav dl dd .quick5 {
	background-position: 0 -117px;
}
.sidebar .nav dl dd .k3 {
	background-position: 0 -350px;
}
.sidebar .nav dl dd .eleven_five {
	background-position: 0 -59px;
}
.sidebar .nav dl dd .three_d {
	background-position: 0 -176px;
}
.sidebar .nav dl dd .pl3 {
	background-position: 0 -234px;
}