@charset "utf-8";
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {
	padding:0;
	margin:0;
}
.formTable {
color: #9e9786;
}
fieldset,img {
	border:0;
}
img {
	vertical-align:middle;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight:normal;
	font-style:normal;
}
.code {
	width:400px;
	
}
strong {
	font-weight:bold;
}
ol,ul {
	list-style:none;
}
h3,h4,h5,h6 {
	font-weight:bold;
	font-size:100%;
}
q:before,q:after {
	content: 17;
}
abbr,acronym {
	border:0;
}
a {
	text-decoration:none;
        -webkit-user-drag: none;
}

.clear {
	border-top:1px solid transparent!important;
	margin-top:-1px!important;
	border-top:0;
	margin-top:0;
	clear:both;
	visibility:hidden;
}
.clearfix:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	/*visibility:hidden;*/
}
.clearfix {
	display:inline-block;
}
* html .clearfix {
	height:1%;
}
.clearfix {
	display:block;
}
input,textarea {
	font-size:12px;
}
h3 {
	font-size:14px;
}
h4 {
	font-size:12px;
}
input,textarea,select {
	font:12px "courier new";
	vertical-align:middle;
}
*{-webkit-user-drag: none;}

#tabs ul { clear:both; background:url(images/zh_title-bg.png) repeat-x 0 -42px; height:32px; margin-bottom:10px;}
#tabs ul li { width:92px; text-align:center; margin-left:8px; float:left; background:url(images/zh_title-bg.png) no-repeat; height:32px; line-height:32px;}


@charset "utf-8";
/* CSS Document */

body {font: 12px/24px  Microsoft YaHei,"\5b8b\4f53"; color:#fff;}
*{-webkit-user-drag: none;}
.page {text-align:right; padding:5px 10px; color:#fff;}
.newsPages {text-align:center; padding:10px 0; color:#fff;}

a { color:#fff;}
a:hover { text-decoration:underline; }
.white { color:#fff; }
.red {color:#c26621;}
.green {color:#B5ED58;}
.underline {text-decoration:none; color:#8c7d75;}
.floatR {float:right;}
.floatL {float:left;}
.margin_2px { margin:2px}
.scroll_bar {
scrollbar-face-color:#EAEAEA;
scrollbar-shadow-color:#EAEAEA;
scrollbar-highlight-color:#EAEAEA;
scrollbar-3dlight-color:#EAEAEA;
scrollbar-darkshadow-color:#697074;
scrollbar-track-color:#F7F7F7;
scrollbar-arrow-color:#666666;}

.displayNone {display:none;}
.overflowHidden {overflow:hidden;}
.marginb10px {margin-bottom:10px;}
.marginb5px {margin-bottom:5px;}
.lineheight46px {line-height:46px;}

.line10px {  width:100%; height:10px; clear:both; overflow:hidden;}
.bt_cancel {
	background:url(images/bt_zhongzhizhuihao.png) no-repeat;
	width:91px;
	height:28px;
	margin:0 0px;
	border:0;
	color:#EEF1F2;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	overflow:hidden;
	text-indent:-9999px;
	_text-indent:0;
}
.bt_cedan {
	background:url(images/bt_cancel.png) no-repeat;
	width:91px;
	height:28px;
	margin:0 5px;
	border:0;
	color:#EEF1F2;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	overflow:hidden;
	text-indent:-9999px;
	_text-indent:0;
}
#point {
	background:url(images/point.png) no-repeat 8px 0;
	line-height:27px;
	padding-left:50px;
	margin-bottom:12px;
}
.dotTitle { font-size:12px;margin:10px 0; font-size:14px;}

/* =content -----------------------------------------------------------------------------*/


.formTable { width:100%; border-top:1px solid #5d4701;border-left:1px solid #5d4701;margin-bottom:10px;}
.formTable .ttf{
	color:#FFFFFF;
}
.formTable td {
	border-bottom:1px solid #5d4701; border-collapse:collapse; empty-cells:show;
	border-right:1px solid #5d4701;
	padding:6px 10px; line-height:20px;
	vertical-align:middle;
}
.formTable th { text-align:center; color:#fff; height:30px; line-height:30px; font-family:Microsoft Yahei; background:url(images/popup_layer_imgbg.png) repeat-x 0 -126px;border-bottom:1px solid #5d4701;border-right:1px solid #0d0702;}
.formTable .odd th ,.formTable .odd td {}
.formTable .even th ,.formTable .even td {}


.grayTable { width:100%; border-top:1px solid #5d4701;border-left:1px solid #5d4701;margin-bottom:10px;}
.grayTable th { text-align:center; color:#fff; height:29px; line-height:29px; font-family:Microsoft Yahei; background:url(images/popup_layer_imgbg.png) repeat-x 0 -126px;border-bottom:1px solid #5d4701;border-right:1px solid #0d0702;}
.grayTable td {border-bottom:1px solid #5d4701;border-right:1px solid #5d4701;text-align:center; height:32px; line-height:32px; border-left:0; color:#929292;}
.grayTable a { color:#929292;}
.grayTable .left {text-align:left; text-indent:20px;}
.grayTable .left_noindent {}


.formCheck ,.formNext ,.formBack ,.formSubmit ,.formReset ,.formChange ,.formLibd ,.formZjbd ,.formSame ,.formWord ,.formCancel {
	background:url(images/popup_btn-bg2.png) no-repeat;
	width:90px;
	height:32px;
	color:#fff;
	border:0; font-size:14px; letter-spacing:1px;
	cursor:pointer;
	display:inline-block;/*IE hack*/
	line-height:32px;
	/*margin:15px 5px;*/
	overflow:hidden; font-weight:700;
}
.formLock {
	background:url(images/bt_bank.png) no-repeat;
	width:91px;
	height:28px;
	color:#F09610;
	border:0;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	margin:15px 20px;
	overflow:hidden;
	_text-indent:0;    
}

.formWord {}
.formOk {
	float:right;
	background:url(images/xhl.gif) no-repeat;
	width:139px;
	height:36px;
	margin:0 5px;
	border:0;
	color:#EEF1F2;
	cursor:pointer;
	font-size: 0px;/*IE hack*/
	display:inline-block;/*IE hack*/
	line-height: 0px;/*IE hack*/
	overflow:hidden;
	text-indent:-9999px;
	_text-indent:0;
}

#success {
	color:#000;
	background:url(images/correct_icon.png) no-repeat 0 0;
	_height:64px;
	min-height:64px;
	width:400px;
	margin:0 auto;
	line-height:22px;
	padding:10px 0 0 90px;
}
#success .title { margin-bottom:15px;}

#error {
	color:#000;
	background:url(images/error_icon.png) no-repeat 0 0;
	width:400px; min-height:80px;
	margin:0 auto;
	line-height:22px;
	padding:10px 0 0 90px;
}
#error .title {
	color:#c26621;
	margin-bottom:15px;
}

#newsList .even {
	background-color:#EFEFEF;
	border-top:1px solid #FFF;
	border-bottom:1px solid #ddd;
}
#newsList .odd {
	background-color:#F6F6F6;
	border-top:1px solid #FFF;
	border-bottom:1px solid #ddd;
}
.gonggao_li { background-color:#222; border-left:2px solid #333; padding:5px 0 5px 10px; color:#888; font-size:14px; font-weight:700; margin-bottom:10px;}
#newsList li { overflow:hidden; zoom:1; padding:8px 0; border-bottom:1px dotted #333;}
#newsList li span { float:right; line-height:18px; color:#444; font-family:Arial;}
#newsList a { float:left; white-space:nowrap; width:210px;text-overflow:ellipsis;-moz-text-overflow: ellipsis; overflow:hidden;}
#newsList .date {float:right; color:#666;font-family:"\5b8b\4f53";}



#newsDetail .title{border-bottom:1px solid #333;text-align:center;padding:8px 0; font-size:18px; color:#C26621;}
#newsDetail {}
#newsDetail .date{
}
#newsDetail .detail {
	padding:10px ;
	line-height:30px;
}
#newsDetail .back ,
.yhlb_back {
	text-align:right;
	padding:0 0 10px;
}
#newsDetail .back a ,
.yhlb_back a{
	display:inline-block;
	background:url(images/back.gif) no-repeat;
	width:46px;
	height:15px;
	line-height:5000px;
	overflow:hidden;	
}

.sblsbb {
  height: 27px;
  width: 110px;
  margin-bottom:5px;
 
}
.tsf-p .kpbb { width: 70px;}
.cpbb, .kpbb,.fronted, .kprb, .kpgb, .kpgrb, .ksb { border-radius: 2px; height:30px; line-height: 30px;min-width: 54px;text-align: center; margin-right:5px;}
.fronted {background-color:#c9651a;border: 1px solid #c9651a; color:#e4ff31;}
.kpbb {background-color:#736548;border: 1px solid #8c8067; color:#fef1d6;}


#gameMethod .Menubox {
	background:url(images/gameMethod-bg.png) no-repeat;
	width:517px;
	height:38px;
	color:#fff;
	line-height:33px;
	margin-bottom:5px;
}
#gameMethod .Menubox li {float:left; text-align:center; height:38px; cursor:pointer;}
#gameMethod .Contentbox {clear:both; text-align:left;}
#one1 {width:102px;}
#one2 {width:104px;}
#one3 {width:104px;}
#one4 {width:103px;}

#one1.hover ,
#one2.hover ,
#one3.hover ,
#one4.hover { background:url(images/gameMethod-bg.png) no-repeat;}
#one1.hover {background-position:0 0;}
#one2.hover {background-position:-102px 0;}
#one3.hover {background-position:-206px 0;}
#one4.hover {background-position:-310px 0;}




#playinfo_menu0 {width:102px;}
#playinfo_menu1 {width:104px;}
#playinfo_menu2 {width:104px;}
#playinfo_menu3 {width:103px;}
#playinfo_menu4 {width:104px;}
#playinfo_menu0.hover ,
#playinfo_menu1.hover ,
#playinfo_menu2.hover ,
#playinfo_menu3.hover ,
#playinfo_menu4.hover {background:url(images/gameMethod-bg.png) no-repeat;}
#playinfo_menu0.hover {background-position:0 -41px;}
#playinfo_menu1.hover {background-position:-102px -41px;}
#playinfo_menu2.hover {background-position:-206px -41px;}
#playinfo_menu3.hover {background-position:-310px -41px;}
#playinfo_menu4.hover {background-position:-413px -41px;}




.gameMethod ,
.gameMethod th ,
.gameMethod td {
	border:1px solid #fff;
	border-collapse:collapse;
	padding:5px;
}




#appraise {text-align:left;}
#appraise .question {
	background:url(images/dot12.gif) no-repeat 15px 4px;
	padding-left:50px;
	padding:5px 0 0 50px;
	margin-bottom:5px;
	font-weight:bold;
}
#appraise .answer {
	background:url(images/dot13.gif) no-repeat;
	padding:5px 0 0;
	margin-bottom:10px;
	line-height:18px;
}
#appraise .answer .border {padding:8px 15px;border:1px solid #FF6A00;border-top:0; background-color:#fff;}

/*绑定银行卡表格*/
.bttt {}
.ttt1 {display: block;padding: 5px;width: 220px;text-align:right; border-right: 1px solid #5d4701; border-left: 1px solid #5d4701; border-top:1px solid #5d4701; float:left; height:30px;}
.ttt2 {display: block;padding: 5px;width: 630px;text-align:left; border-right:1px solid #5d4701;border-top:1px solid #5d4701;float:left; height:30px;}
.ttt3 {display: block;padding: 5px;width: 220px;text-align:left; border-right: 1px solid #5d4701; border-left: 1px solid #5d4701; border-top:1px solid #5d4701; border-bottom: 1px solid #5d4701;float:left; height:60px;}
.ttt4 {display: block;padding: 5px;width: 630px;text-align:left; border-right:1px solid #5d4701;border-top:1px solid #5d4701;border-bottom: 1px solid #5d4701;float:left; height:60px;}